<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <connectionStrings>
    
    <add name="SqlOleDb" 
         connectionString="
    Provider=sqloledb;
    Data Source=VLADIMIR\SQLEXPRESS;
    Initial Catalog=MCS1;
    User Id=ova;
    Password=123;"/>


    <add name="SqlClient"
         connectionString="
    Server=VLADIMIR\SQLEXPRESS;
    Database=MCS1;
    User Id=ova;
    Password=123;"/>
    
  </connectionStrings>
  
</configuration>