  <connectionStrings>

    <add name="SqlOleDb"
         connectionString="
    Provider=sqloledb;
    Data Source=VLADIMIR\SQLEXPRESS;
    Initial Catalog=MCS1;
    User Id=ova;
    Password=123;"/>


    <add name="SqlClient"
         connectionString="
    Server=VLADIMIR\SQLEXPRESS;
    Database=MCS1;
    User Id=ova;
    Password=123;"/>

  </connectionStrings>

